<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
        <add name="Racuni" connectionString="Data Source=MILJAN\SQLEXPRESS;Initial Catalog=Racuni;Integrated Security=True;Encrypt=false"
			 providerName="system.Data.SqlClient"/>   
	</connectionStrings>
</configuration>